### https://raw.github.com/github/gitignore/35441e97b4587b18284ce76d19a0133319c3c320/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp
*.swo
.idea
bin/darwin386
bin/darwin64
bin/linux386
bin/linux64
bin/windows386
bin/windows64
